<!-- Your footer code -->
<div class="wrapper-red">
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <ul class="list-inline item-controls">
        <li>
          <a href="">
            <i class="fa fa-bed" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-microchip" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    <footer><cite title="Source Title"> L.D.Vinci </cite></footer>
  </blockquote>
</div>
