<h1 class="text-center">Team</h1>

<ul class="list-inline text-center">
  <% ["luke", "james", "chamy"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "avatar-lg" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
